@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 145.4%;
  /* or 26px */ }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden; }

.section_title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px; }

.section_subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 116.4%;
  /* identical to box height, or 35px */ }

.main_btn {
  display: inline-block;
  text-align: center;
  min-width: 208px;
  padding: 13px;
  background: #A12A8D;
  color: #fff; }

@media (max-width: 991px) {
  .section_title {
    font-size: 40px;
    line-height: 116.9%;
    /* or 47px */ } }

@media (max-width: 575px) {
  section {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section_title {
    font-size: 24px;
    line-height: 116.9%;
    /* or 28px */
    text-align: center; }
  .section_subtitle {
    font-size: 20px;
    line-height: 145.4%;
    /* identical to box height, or 29px */ } }

.section_header .logo,
.section_header .contacts {
  font-weight: 600;
  color: #ffffff; }

.section_header .menu_item a {
  color: #ffffff; }

.section_header #toggle {
  position: absolute;
  visibility: hidden; }

@media (min-width: 576px) {
  .section_header {
    background: #a12a8dd9;
    position: fixed;
    width: 100%;
    z-index: 100; }
    .section_header .menu_item {
      padding: 20px 0; } }

@media (max-width: 575px) {
  .section_header .logo,
  .section_header .contacts {
    color: #fff;
    padding-top: 16px; }
  .section_header .toggle_button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 50; }
    .section_header .toggle_button div {
      position: absolute;
      height: 10px;
      width: 10px;
      background: #fff;
      transition: .3s; }
    .section_header .toggle_button .button_item_2 {
      right: 0; }
    .section_header .toggle_button .button_item_3 {
      bottom: 0; }
    .section_header .toggle_button .button_item_4 {
      right: 0;
      bottom: 0; }
  .section_header #menu {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    height: 0px;
    transition: .3s;
    z-index: 49; }
    .section_header #menu li {
      opacity: 0; }
  .section_header #toggle:checked ~ #menu {
    justify-content: space-around;
    height: 264px; }
    .section_header #toggle:checked ~ #menu li {
      opacity: 1; }
  .section_header #toggle:checked ~ .toggle_button div {
    background: #000;
    transform: rotate(45deg); } }

.section_intro {
  padding-top: 0;
  height: 100vh; }
  .section_intro .preview_box {
    color: #FFFFFF; }
    .section_intro .preview_box .title {
      font-family: 'Permanent Marker', cursive;
      font-size: 110.345px;
      line-height: 143px;
      letter-spacing: 0.1em;
      color: #A12A8D; }
    .section_intro .preview_box .subtitle {
      font-weight: bold;
      font-size: 45px;
      line-height: 53px;
      margin-bottom: 16px; }
    .section_intro .preview_box .color_block {
      background: #A12A8D;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 60px;
      transform: rotate(180deg); }
  .section_intro .block_scroll_down {
    border: 3px solid #A12A8D;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll_down 3s infinite; }
    .section_intro .block_scroll_down:hover {
      animation: none; }

@keyframes scroll_down {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(-10px); } }
  @media (min-width: 1200px) {
    .section_intro .preview_box {
      margin-top: 30%; }
    .section_intro .block_scroll_down {
      left: 50%;
      margin-left: -32px; } }
  @media (min-width: 576px) {
    .section_intro {
      background: url(../assets/intro6.jpg) no-repeat 50% 0%;
      background-size: cover; } }
  @media (max-width: 1199px) {
    .section_intro .block_scroll_down {
      right: 4%; }
    .section_intro .preview_box {
      position: absolute;
      bottom: 60px; } }
  @media (max-width: 767px) {
    .section_intro {
      background: url(../assets/intro_mob.jpg) no-repeat 58% 69%; }
      .section_intro .preview_box {
        text-align: center; }
        .section_intro .preview_box .title {
          font-size: 77px;
          line-height: 114px;
          /* identical to box height */
          letter-spacing: 0.13em; }
        .section_intro .preview_box .subtitle {
          font-size: 24px;
          line-height: 116.9%;
          /* or 28px */
          margin-bottom: 11px; }
        .section_intro .preview_box .description {
          margin-bottom: 12px; }
        .section_intro .preview_box .main_btn {
          display: block; } }

.section_promo .section_title {
  margin-bottom: 50px;
  color: #A12A8D; }

.section_promo .photo_box {
  position: relative;
  transition: .3s;
  height: 550px; }
  .section_promo .photo_box img {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: .3s; }
  .section_promo .photo_box .img_back {
    transform: translate(8%, 6%); }
  .section_promo .photo_box:hover .img_back {
    transform: translate(0%, 0%); }
  .section_promo .photo_box:hover .img_front {
    transform: translate(8%, 6%); }

@media (max-width: 991px) {
  .section_promo .photo_box {
    height: 300px; }
  .section_promo .section_title {
    margin-bottom: 30px; } }

@media (max-width: 575px) {
  .section_promo .text_box {
    text-align: center; } }

.section_video {
  padding: 0; }

.section_advantages {
  position: relative;
  overflow: hidden; }
  .section_advantages .section_title {
    color: #A12A8D;
    margin-bottom: 8px; }
  .section_advantages .section_subtitle {
    color: rgba(42, 41, 49, 0.54);
    margin-bottom: 60px; }
  .section_advantages .section_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .section_advantages .section_item .section_item_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background: #A12A8D;
      margin-bottom: 24px; }
    .section_advantages .section_item .section_subtitle {
      color: rgba(42, 41, 49, 0.9);
      margin-bottom: 20px; }
  .section_advantages .figure_1 {
    position: absolute;
    width: 305px;
    height: 305px;
    border-radius: 50%;
    background-color: rgba(161, 42, 141, 0.12);
    top: 20%;
    left: -157px; }
  .section_advantages .figure_2 {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: rgba(161, 42, 141, 0.12);
    bottom: 0;
    right: -115px; }
  @media (max-width: 991px) {
    .section_advantages {
      padding-bottom: 30px; }
      .section_advantages .section_item {
        margin-bottom: 70px; } }
  @media (max-width: 575px) {
    .section_advantages .section_subtitle {
      margin-bottom: 48px; }
    .section_advantages .section_item {
      margin-bottom: 56px; }
      .section_advantages .section_item .section_item_icon {
        margin-bottom: 19px; }
      .section_advantages .section_item .section_subtitle {
        margin-bottom: 14px; } }

.section_vacancies {
  background: #1A1B1D; }
  .section_vacancies .section_title {
    color: #FFF;
    margin-bottom: 60px; }
  .section_vacancies .vacancy_item {
    text-align: center;
    background: #28292C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
    padding: 0; }
    .section_vacancies .vacancy_item .item_avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .section_vacancies .vacancy_item .item_text_box {
      padding: 50px 15px; }
    .section_vacancies .vacancy_item .section_subtitle {
      color: #A12A8D;
      margin-bottom: 20px; }
    .section_vacancies .vacancy_item .item_description {
      color: #fff;
      font-weight: 400; }
  @media (min-width: 576px) {
    .section_vacancies .vacancy_item + .vacancy_item {
      margin-left: 44px; } }
  @media (max-width: 991px) {
    .section_vacancies {
      padding-bottom: 30px; }
      .section_vacancies .vacancy_item {
        margin-bottom: 70px; } }
  @media (max-width: 575px) {
    .section_vacancies {
      padding-bottom: 0; }
      .section_vacancies .vacancy_item {
        margin-left: 20px;
        margin-right: 20px; }
      .section_vacancies .item_text_box .section_subtitle {
        font-size: 30px;
        line-height: 116.4%;
        /* identical to box height, or 35px */ } }

.section_anketa .section_title {
  color: #A12A8D; }

.section_anketa .section_subtitle {
  color: rgba(101, 101, 101, 0.9);
  margin-bottom: 52px; }

.section_anketa .form_box {
  background: #FFFFFF;
  border: 2px solid #CBCBCB;
  box-shadow: 0px 4px 30px rgba(82, 82, 82, 0.37);
  padding: 32px 30px; }
  .section_anketa .form_box .section_subtitle {
    color: #A12A8D;
    margin-bottom: 35px; }
  .section_anketa .form_box .input {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background: #F5F6F8; }
  .section_anketa .form_box button {
    border: none;
    outline: none; }

@media (min-width: 576px) {
  .section_anketa .form_wrap {
    height: 700px;
    background: url(../assets/anketa.jpg) no-repeat 100% 0;
    background-size: 730px; }
  .section_anketa .form_box button {
    margin-bottom: 17px; } }

@media (max-width: 991px) {
  .section_anketa .form_wrap {
    background-position: -250px; }
  .section_anketa .section_subtitle {
    margin-bottom: 35px; } }

@media (max-width: 575px) {
  .section_anketa .section_title {
    margin-bottom: 24px; }
  .section_anketa .form_box {
    margin-left: 15px;
    margin-right: 15px; } }

.section_contacts {
  background: #590634;
  color: #fff;
  position: relative;
  overflow: visible; }
  .section_contacts .section_title {
    color: #EDE2C6; }
  .section_contacts .main_btn {
    margin-top: 21px; }
  .section_contacts .faq_img {
    position: absolute;
    bottom: 60px;
    left: 30px; }
  @media (max-width: 991px) {
    .section_contacts {
      padding: 50px 0; }
      .section_contacts .faq_img {
        position: absolute;
        width: 332px;
        bottom: 25px;
        left: -111px; } }

.section_footer {
  padding-top: 40px;
  padding-bottom: 40px; }
  .section_footer .logo {
    font-weight: bold; }
  .section_footer .text_color {
    color: #A12A8D; }
  .section_footer .menu_item a {
    color: #000000; }
  @media (min-width: 992px) {
    .section_footer .menu_item {
      width: 100px; }
    .section_footer ul {
      height: 120px; }
    .section_footer .main_btn {
      margin-top: 20px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .section_footer {
      padding-top: 30px; }
      .section_footer nav {
        padding-top: 40px;
        margin-top: 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.2); } }
  @media (min-width: 576px) {
    .section_footer .menu_item {
      padding: 15px 0; }
    .section_footer .logo {
      font-size: 30.5357px;
      line-height: 37px;
      /* identical to box height */ } }
  @media (max-width: 575px) {
    .section_footer .menu_item + .menu_item {
      margin-top: 9px; } }
